/* .authNav {
  border-bottom: 1px solid #6c757d;
}

.authNav .nav-link {
  border-bottom: 4px solid transparent;
}

.authNav a:active,
.authNav a:hover,
.authNav a.active {
  border-bottom: 4px solid #6c757d;
} */
